.logo, h1, h2, h3 {
  font-family: 'Shrikhand', cursive, sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-left: 0;
  margin-right: 0;
  background-color: #ffffff;
}

header {
  width: 100%;
  padding-top: 3%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  width: 40%;
  margin: auto;
  padding-bottom: 1.5%;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaeaea;
  height: 3em;
  border-top: 2px solid #cfcfcf;
}

.search-font {
  padding-left: 20%;
  padding-right: 5%;
}

.search-font .fas {
  color: #353535;
}

#town {
  font-size: 0.85em;
  font-weight: bolder;
  border: none;
  background-color: #eaeaea;
}

.btn-accueil {
  background-color: #f6f6f6;
  padding-top: 9%;
}

.btn-accueil .title_text {
  margin-top: 0;
  width: 70%;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-accueil p {
  font-size: 1.1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-accueil-explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding-top: 2%;
  padding-bottom: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-accueil-explore input {
  width: 55%;
  height: 80%;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  font-size: 1em;
  border: none;
  -webkit-box-shadow: 5px 15px 21px -13px #000000;
          box-shadow: 5px 15px 21px -13px #000000;
}

p.title_text {
  font-size: 1.5em;
  font-weight: bolder;
  padding-left: 5%;
}

.manual {
  margin-bottom: 15%;
}

.manual-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.manual-card .manual-card_number {
  z-index: 2;
  background-color: #9356DC;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  margin-right: -15px;
  margin-left: 0;
}

.manual-card .manual-card-ft {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  height: 80px;
  width: 85%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 20px;
  -webkit-box-shadow: 5px 15px 21px -13px #000000;
          box-shadow: 5px 15px 21px -13px #000000;
}

.manual-card-ft .manual-card-ft_font {
  color: #8d8d8d;
  font-size: 21px;
  padding-left: 35px;
}

.manual-card-ft .manual-card-ft_text {
  font-size: 1.2em;
  padding-left: 20px;
}

.restau {
  background-color: #f6f6f6;
  padding-top: 10%;
  padding-bottom: 12%;
}

.restau-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 15px 21px -13px #000000;
          box-shadow: 5px 15px 21px -13px #000000;
}

.restau-card .restau-card-img {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restau-card .restau-card_img {
  width: 100%;
  min-width: 338px;
  height: 100%;
  max-height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.restau-card .restau-card-new {
  height: 100%;
  width: auto;
  padding: 4% 6% 4% 6%;
  margin-top: 10%;
  margin-left: -55%;
  font-weight: bold;
  background-color: #99e2d0;
  color: #008766;
  z-index: 2;
  border-radius: 5%;
}

.restau-card #restau-card-nonew {
  display: none;
}

.restau-card .restau-card-name {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 13px;
}

.restau-card .restau-card-name_title {
  font-size: 1.2em;
  font-weight: bolder;
  margin-bottom: -5px;
}

.btn-heart {
  position: relative;
  left: -100vw;
}

[for="btn-heart"] {
  color: white;
  cursor: pointer;
  font-size: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: -40px;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  -webkit-transition: color 0.9s ease-in-out, text-shadow 0.6s ease-in-out;
  transition: color 0.9s ease-in-out, text-shadow 0.6s ease-in-out;
}

label:hover {
  color: #FF79DA;
  text-shadow: none;
}

footer {
  background-color: #353535;
  color: white;
  height: 240px;
  width: 100%;
}

.about {
  padding-top: 2%;
  padding-left: 6%;
}

.about p {
  font-family: 'Shrikhand', cursive, sans-serif;
  font-size: 1.2em;
}

.about .about-list-font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3%;
}

.about .about-list_text {
  padding-left: 3%;
}

.about .partner {
  margin-left: -0.7%;
}

.about .about-list-nofont {
  padding-bottom: 3%;
  margin-left: -3%;
  color: #f2f2f2;
}

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-card .arrowback {
  width: auto;
  color: #353535;
  margin: -10px -50px 0 30px;
}

.btn-heart-card {
  position: relative;
  left: -100vw;
}

[for="btn-heart-card"] {
  color: white;
  cursor: pointer;
  font-size: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: -10px;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  -webkit-transition: color 0.9s ease-in-out, text-shadow 0.6s ease-in-out;
  transition: color 0.9s ease-in-out, text-shadow 0.6s ease-in-out;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-restau {
  background-color: #f6f6f6;
  margin-top: -13%;
  border-radius: 30px 30px 0 0;
}

.menu-restau-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5% 0 5%;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5% 0 5%;
  margin-bottom: 10%;
}

.menu-card .menu-card_title {
  width: 13%;
  font-size: 1.2em;
  margin-bottom: 5%;
  padding-bottom: 1%;
  border-bottom: solid #99E2D0 2px;
}

.menu-card .menu-card-plat {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-radius: 20px;
  margin-bottom: 6%;
  padding: 0 0 0 3%;
  -webkit-box-shadow: 5px 15px 21px -13px #000000;
          box-shadow: 5px 15px 21px -13px #000000;
}

.menu-card .menu-card-plat .menu-card-plat-name_name {
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: bolder;
}

.menu-card .menu-card-plat .menu-card-plat-name_description {
  margin-top: 0;
  padding-top: 3%;
}

.menu-card .menu-card-plat .menu-card-plat-price {
  padding-right: 4%;
}

.menu-card .menu-card-plat .menu-card-plat-price .menu-card-plat-price_money {
  font-weight: bold;
}

.menu-card-plat-checked {
  border: red 1px solid;
  width: 20%;
  height: 100%;
  text-align: center;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
}

.menu-card-plat-checked i {
  margin-top: 7%;
  color: white;
}

/*
.menu-card-plat {
     
    border-right: 0 solid #00ff99;
    transition: border-right 300ms ease-in-out, padding-left 300ms ease-in-out;
  }

.menu-card-plat:hover {
    padding-right: 4rem;
    border-right: 4rem solid #00ff99;
    
  }
  
  .menu-card-plat > :first-child {
    margin-top: 0;
  }
  
  .menu-card-plat > :last-child {
    margin-bottom: 0;
  }
  
 */
.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: -3%;
  padding-bottom: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-menu input {
  width: 55%;
  height: 80%;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  font-size: 1em;
  border: none;
  -webkit-box-shadow: 5px 15px 21px -13px #000000;
          box-shadow: 5px 15px 21px -13px #000000;
}
/*# sourceMappingURL=style.css.map */