
// Police

.logo, h1, h2, h3
{
    font-family: 'Shrikhand', cursive, sans-serif;
}

a
{
    color: #000000;
    text-decoration: none;    
}

html
{
    color: black;
}

body
{
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffff;
}

@import "./sass/utils/mixin";
@import "./sass/utils/variables";



// header

header
{
    width: 100%;
    padding-top: 3%;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo
{   
    width: 40%;
    margin: auto; 
    padding-bottom: 1.5%;   
}

//Search
.search
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-background-search;
    height: 3em;
    border-top: 2px solid #cfcfcf; 
}

.search-font{
    padding-left: 20%;
    padding-right: 5%;
        .fas{
            color: #353535;
            }
}           

#town
{   
    font-size: 0.85em;
    font-weight: bolder;
    border: none;
    background-color: $color-background-search;
}


// Accroche and button
    // Accroche
.btn-accueil{
    background-color: #f6f6f6;
    padding-top: 9%;

        .title_text{
            margin-top: 0;           
            width: 70%;
            @include title-accueil;
            @include center-object;        
            }

        p{
            font-size: 1.1em;
            @include center-object;              
        }
}
    // Button
.btn-accueil-explore
{
    display: flex;
    width: 100%;
    height: 60px;
    padding-top: 2%;
    padding-bottom: 10%;
    @include center-div;

        input{
          width: 55%;  
          height: 80%;
          border-radius: 30px;
          background-image:linear-gradient(to top, $color-primary, $color-secondary);
          color: white;
          font-size: 1em;
          border: none;
          @include box-shadow;
        }
}

// Manual

p.title_text
{
    @include title-accueil;
    padding-left: 5%;
}

.manual
{
    margin-bottom: 15%;
}

.manual-card{
    display: flex;
    @include center-div;
    height: 100px;   

    .manual-card_number{
        z-index: 2;
        background-color: $color-primary;
        width: 28px;
        height: 28px;
        line-height: 28px;
        @include center-object;
        vertical-align: middle;
        border-radius: 50%;
        color: white;
        font-weight: bolder;
        margin-right: -15px;
        margin-left: 0;
    }

    .manual-card-ft{
        z-index: 1;
        display: flex;
        background-color: $color-background-grey;
        height: 80px;
        width: 85%;
        @include center-div;
        justify-content: flex-start;
        border-radius: 20px;
        @include box-shadow
    }
}

.manual-card-ft {
    .manual-card-ft_font {
        color: #8d8d8d;
        font-size: 21px;
        padding-left: 35px;       
    }

    .manual-card-ft_text {
        font-size: 1.2em;
        padding-left: 20px;
    }
}

// Restaurants

.restau
{
    background-color: $color-background-grey ;
    padding-top: 10%;
    padding-bottom: 12%;
}

.restau-card
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    @include box-shadow;
}

.restau-card{
    .restau-card-img{
        width: 170px;
        display: flex;
    }
        .restau-card_img{
            width: 100%;
            min-width: 338px;
            height: 100%;
            max-height: 170px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 20px;
            z-index: 1;
        }

        .restau-card-new{
            height: 100%;
            width: auto;
            padding: 4% 6% 4% 6%;
            margin-top: 10%;
            margin-left: -55%;
            font-weight: bold;
            background-color: $color-background-new;
            color: $color-background-new_title;
            z-index: 2;
            border-radius: 5%;
        }

        #restau-card-nonew{
            display: none;
        }
}


.restau-card{
    .restau-card-name{
        width: 300px;
        display: flex;
        justify-content: space-between;
        padding-left: 13px;        
    }
        .restau-card-name_title{
            @include title-in-card; 
            margin-bottom: -5px;                
        }
}



.button-heart{
    background: none;
    border: none;   
}


/*
 .fa-heart{
        padding-top: 8px;
        padding-left: 100px;
        font-weight: 100;        
        
    }  

    .fa-heart i {
        stroke-width: 2px;
    }
  
    .fa-heart:hover {
   stroke: black;
   fill: blue;
 }


*/


.fa-heart{
    background-color: white;
}

.fa-heart::before{
    content: url(images/font/heart-full.svg);
    color: white;
    transition: color 1s ease-out;
}

.fa-heart:hover::before{
    font-weight: 800;
    color: red;
    
}



// Footer

footer 
{
    background-color: $color-background-footer;
    color: white;
    height: 240px;
    width: 100%;
}

.about{    
    padding-top: 2%;
    padding-left: 6%;

    p{
        font-family: 'Shrikhand', cursive, sans-serif;
        font-size: 1.2em;
    }
    

    .about-list-font{
        display: flex;
        padding-bottom: 3%;
    }    
        .about-list_text {
            padding-left: 3%;
        }
            .partner {
                margin-left: -0.7%;
            }


    .about-list-nofont{
        padding-bottom: 3%;
        margin-left: -3%;
        color: #f2f2f2;
    }
}

// Page A la Française

//header

.header-card{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .arrowback{   
        width: auto;
        color: $color-arrow-left;
        margin: -10px -50px 0 30px;            
    }       
}

.menu
{
    display: flex;
    flex-direction: column;
       
}

.menu-restau
{
    background-color: $color-background-grey;
    margin-top: -13%;
    border-radius: 30px 30px 0 0;
}

.menu-restau-title{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}

.menu-card{
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 5%;
    margin-bottom: 10%;

    .menu-card_title{
        width: 13%;
        font-size: 1.2em;
        margin-bottom: 5%;
        padding-bottom: 1%;
        border-bottom: solid $color-tertiary 2px;

    }

    .menu-card-plat{
        @include menu-card-plat;
        @include box-shadow;}

        .menu-card-plat-name_name{
            margin-bottom: 0;
            @include title-in-card; 
        }

        .menu-card-plat-name_description{
            margin-top: 0;
            padding-top: 3%;
        }
    
}
    
