
// Pour centrer

@mixin center-object {
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

@mixin center-div {
    justify-content: center;
    align-items: center;    
}


// Pour titre
@mixin title-accueil {
    font-size: 1.5em;
    font-weight: bolder;
}

// Box-shadow
@mixin box-shadow {    
    box-shadow: 5px 15px 21px -13px #000000;
}