
// Pour centrer

@mixin center-object {
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

@mixin center-div {
    justify-content: center;
    align-items: center;    
}

//Tailles de police
    // Taille pour titre
    @mixin title-accueil {
        font-size: 1.6em;
        font-weight: bolder;
    }

    // Taille police dans card (titre)
    @mixin title-in-card {
         @media (min-width: 1490px) { 
             font-size: 1.4em;
            font-weight: bolder;
        } 

        @media (min-width: 641px) and (max-width: 1489px) { 
            font-size: 1.2em;
           font-weight: bolder;
       } 

        @media (max-width: 640px) { 
            font-size: 1.1em;
           font-weight: bolder;
       } 
    }       

// Cursor
@mixin cursor-layout{
    cursor: pointer;
}

// Box-shadow
@mixin box-shadow {    
    box-shadow: 5px 15px 21px -13px #000000;
}


// contenu des cards de menu
@mixin menu-card-plat {
    @media (min-width: 1490px) { 
        height: 110px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: white;
        border-radius: 20px;
        margin-bottom: 6%;
        padding: 0 0 0 3%;
    } 

    @media (min-width: 641px) and (max-width: 1489px) { 
        height: 75px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: white;
        border-radius: 20px;
        margin-bottom: 6%;
        padding: 0 0 0 3%;
    } 

    @media (max-width: 640px) { 
        height: 75px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: white;
        border-radius: 20px;
        margin-bottom: 6%;
        padding: 0 0 0 3%;
    } 
}

// Débordement div
@mixin no-flooding {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}


// btn coeur
    // coeur layout
    @mixin heart-layout {
        font-size: 25px;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;            
    }

    // coeur animation
    @mixin heart-animation {
        text-shadow: none;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(1.1);
        animation-name: heart-zoom;
        animation-duration: 1000ms 
    }

// Bouton 
    // Layout pour Explorer ; Commander
    @mixin btn-layout {

        @media (min-width: 1490px) { 
        width: 32%;  
        height: 80%;
        border-radius: 30px;
        background-image:linear-gradient(to top, $color-primary, $color-secondary);
        color: white;
        font-size: 1em;
        border: none;
        } 

        width: 55%;  
        height: 80%;
        border-radius: 30px;
        background-image:linear-gradient(to top, $color-primary, $color-secondary);
        color: white;
        font-size: 1em;
        border: none;
    }

    // Au hover (background et box-sahdow)
    @mixin btn-hover {    
        filter: brightness(110%);
        box-shadow: 5px 15px 11px -10px #000000;
    }

// loading-spinner
    @mixin loading-spiner {
        border: 16px solid $color-tertiary;
        border-radius: 50%;
        border-top: 16px solid $color-primary;
        border-bottom: 16px solid $color-secondary;
        width: 100px;
        height: 100px;
        animation: spin 2s linear;
}
