

// color
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-search: #eaeaea;
$color-background-grey: #f6f6f6;
$color-background-footer: #353535;
$color-background-new: #99e2d0;
$color-background-new_title: #008766;
$color-arrow-left: #353535;
